@font-face {
  font-family: "iconfont"; /* Project id 3331556 */
  src: url('iconfont.woff2?t=1686622052445') format('woff2'),
       url('iconfont.woff?t=1686622052445') format('woff'),
       url('iconfont.ttf?t=1686622052445') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-language-mian:before {
  content: "\e625";
}

.icon-gongdanshuju:before {
  content: "\e623";
}

.icon-renwushuju:before {
  content: "\e624";
}

.icon-baoxiangongsi1:before {
  content: "\e620";
}

.icon-peijianqingdan1:before {
  content: "\e621";
}

.icon-weibaogongsi1:before {
  content: "\e622";
}

.icon-xiangmuguanli1:before {
  content: "\e61f";
}

.icon-wuliaoqingdan:before {
  content: "\e61e";
}

.icon-kefuguanli:before {
  content: "\e638";
}

.icon-yucexingfenxi:before {
  content: "\e639";
}

.icon-banben:before {
  content: "\e63a";
}

.icon-weibaogongsi2:before {
  content: "\e63b";
}

.icon-tuanduiguanli2:before {
  content: "\e63c";
}

.icon-rizhiguanli2:before {
  content: "\e63d";
}

.icon-gongyingshang:before {
  content: "\e63e";
}

.icon-diantipeizhi2:before {
  content: "\e63f";
}

.icon-xiangmuquanxian:before {
  content: "\e640";
}

.icon-changliangguanli:before {
  content: "\e641";
}

.icon-chushihuahuancun:before {
  content: "\e642";
}

.icon-bianji:before {
  content: "\e61d";
}

.icon-shanchu:before {
  content: "\e61c";
}

.icon-add:before {
  content: "\e61b";
}

.icon-yanjing:before {
  content: "\e604";
}

.icon-yuangongbaobiao:before {
  content: "\e619";
}

.icon-kehubaobiao:before {
  content: "\e61a";
}

.icon-yingjichuzhi:before {
  content: "\e618";
}

.icon-gongzuotai:before {
  content: "\e613";
}

.icon-tousuguanli:before {
  content: "\e614";
}

.icon-tonghuajilu:before {
  content: "\e615";
}

.icon-jiejingguanli:before {
  content: "\e616";
}

.icon-zixunguanli:before {
  content: "\e617";
}

.icon-rizhiguanli:before {
  content: "\e610";
}

.icon-diantipeizhi:before {
  content: "\e611";
}

.icon-paas:before {
  content: "\e612";
}

.icon-baoxiangongsi:before {
  content: "\e60d";
}

.icon-weibaogongsi:before {
  content: "\e60e";
}

.icon-peijianqingdan:before {
  content: "\e60f";
}

.icon-renwuguanli:before {
  content: "\e60c";
}

.icon-jihuaguanli:before {
  content: "\e60a";
}

.icon-tuanduiguanli:before {
  content: "\e60b";
}

.icon-hetongguanli:before {
  content: "\e608";
}

.icon-xiangmuguanli:before {
  content: "\e609";
}

.icon-baoxianbaobiao:before {
  content: "\e607";
}

.icon-baoxianbaobiao1:before {
  content: "\e604";
}

.icon-kehubaobiao1:before {
  content: "\e602";
}

.icon-gongyinglianbaobiao:before {
  content: "\e603";
}

.icon-baoxianbaobiao2:before {
  content: "\e604";
}

.icon-gongchengbaobiao:before {
  content: "\e605";
}

.icon-wulianwangbaobiao:before {
  content: "\e606";
}

.icon-yunyingkanban:before {
  content: "\e601";
}

